<h1>Reservar cita</h1>
<form method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>

    <label>Teléfono:</label>
    <input type="text" name="telefono" required>

    <label>Dirección:</label>
    <input type="text" name="direccion" required>

    <label>Producto:</label>
    <select name="producto" required>
      <option value="">--Selecciona--</option>
      <option value="Depilación Bikini" data-duracion="45">Depilación Bikini (45 min)</option>
      <option value="Depilación Pierna completa" data-duracion="90">Depilación Pierna completa (90 min)</option>
      <option value="Depilación Axilas" data-duracion="45">Depilación Axilas (45 min)</option>
      <option value="Depilación Boso" data-duracion="30">Depilación Boso (30 min)</option>
      <option value="Keratina" data-duracion="0">Keratina (Consultar)</option>
    </select>

     <label>Día:</label>
    <input type="date" name="dia" required>

    <label>Duración (minutos):</label>
    <input type="number" name="duracion" required>

    <button type="submit">Reservar cita</button>
</form>
